/* Made by Joseph Yang */


/* General CSS */
#application { background-color: #101e3d; }
html {
	scroll-behavior: smooth;
}

#wrapper {
	color: #8892b0;
	align-content: center;
}

section {
	padding-top :125px;
	padding-bottom: 125px;
	margin: auto;
	margin-left: 25%;
	margin-right: 25%;
}

.btn {
	border-color: #5fa4ff !important;
	color: #5fa4ff;

	&:hover {
		background-color: #5fa4ff28;
		color: #5fa4ff;
	}
}

.text-link {
	color: #5fa4ff;
	display: inline-block;
	position: relative;
	transition: .5s;
	
	&:hover {
		color: #5fa4ff;
		text-decoration: none;
	}

	&:after {
		content: '';
		position: absolute;
		width: 100%;
		transform: scaleX(0);
		height: 2px;
		bottom: 0;
		 left: 0;
		background-color: 
		#0087ca;
		transform-origin: bottom right;
		transition: transform .2s ease-out;
	}

	&:hover:after {
		transform: scaleX(1);
		transform-origin: bottom left;
	  }
}

hr {
	background-color: #778899;
	margin-left: 20px;
	width:100%;
	height: 1px !important;
}

.header {
	white-space: nowrap;
	margin-bottom: 25px;
	display: flex;
	align-items: center;

	p {
		color: #5fa4ff;
		display: inline;
	}
}

/* Navigation */
#navbar {
	padding: 32px 48px;
	background-color: rgba(16, 30, 61, .7);
	transition: .4s;
	backdrop-filter: blur(10px);
	box-shadow: 0 20px 20px -10px rgba(16, 30, 61, .7);

	#navbar-resume { margin-left: 1.25rem; }

	p {
		color: #5fa4ff;
		display: inline;
	}

	.navbar-brand {
		color: #778899;
		transition: .2s;

		&:hover { color: #5fa4ff; }
	}

	.nav-link {
		padding: 0 1.25rem;
		color: #778899;
		transition: .2s;

		&:hover { color: #5fa4ff; }
	}
}

/* Intro */
.intro {
	padding: 250px 0;

	div { display: inline-block; }

	h1 {
		font-size: 1.25rem !important;
		color: #5fa4ff !important;
		margin:0 !important;
	}

	h3 { font-size:  3.5rem !important; }

	h2 {
		font-size: 5rem !important;
		color: #d2e8ff !important;
	}

	p {
		margin-top: 2.5rem;
		font-size: 1.15rem;
		width: 0;
		min-width: 70%;
	}

	.btn {
		margin-top: 1.5rem;
		padding: 15px 20px 15px 20px;
	}
}

/* About */
#about {
	#about-content {
		.col-3 { padding-left: 0;}
		img {
			width: 150px;
			height: 150px;
			border-radius: 25%;
		}

		div:first-child {
			padding-bottom: 15px;
			display:flex;
		}

		#about-headers { padding-left: 40px; }
		#about-description { font-size: 1.15rem; padding-top: 20px; padding-bottom: 15px;}

		h1 { margin: 20px 0 5px 0; }

		h2 {
			margin: 0 0 5px 0;
			font-size: 1.15rem;
			color: #778899;
		}
		h3 {
			margin: 0;
			font-size: 1.15rem;
			color: #56626e;
		}

		.text-link {
			color: #5492e2;
		}
	}

	ul {
		margin: 0;
		columns: 3;
		-webkit-columns: 4;
  		-moz-columns: 3;

		li { font-size: .95rem; }
	}
}

/* Skills */
#skills {
	ul {
		margin: 0;
		padding: 0;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 10px;
		list-style: none;
		align-items: center;
		

		li {
			font-size: .95rem;

			a {
				display:block;
				margin: 0 auto;
			}

			img {
				width: 100%;
				transition: .2s;

				&:hover {
					transform: scale(1.2);
				}
			}
		}
	}
}

/* Experience */
#experience {
	#experience-header {
		display: flex;
		align-items: center;
	}

	.experience-item {
		margin-bottom: 15px;
		display: grid;
		grid-template-columns: 132px auto;
		column-gap: 30px;
	}

	.experience-item-content {
		white-space: nowrap;

		p {
			margin: 0;
			color:#5fa4ff;
		}

		a {
			margin-bottom: 5px;

			img {
				height: 20px;
				margin-bottom: 1px;
			}
		}

		.experience-item-content-description {
			margin-bottom: 5px;
			padding-left: 30px;

			li { white-space: wrap; }
		}

		.experience-item-content-skills {
			margin: 0;
			padding-left: 10px;
			list-style: none;
			color:rgb(104, 119, 136);

			li {
				float: left;
			}

			li:not(:first-child)::before {
				content: "● ";
			}

			li:not(:last-child) {
				padding-right: 5px;
			}
		}
		
	}
}